#
# Copyright (C) 2022 The LineageOS Project
#
# SPDX-License-Identifier: Apache-2.0
#

on init && property:ro.boot.startupmode=dc_charger
    mount_all /vendor/etc/charger_fstab.qti --early
    write /sys/kernel/boot_adsp/boot 1
    wait /sys/class/power_supply/battery

on init
    #zhangkun@BSP.CHG.Basic,2019/02/12, add for charger update fastchg firmware
        chown system system /proc/fastchg_fw_update

    #Jianchao.Shi@PSW.BSP.CHG.Basic, 2017/09/08, sjc Add for short_c_batt
        chown system system /sys/class/oplus_chg/battery/short_c_hw_status
        chown system system /sys/class/oplus_chg/battery/short_c_hw_feature
        chown system system /sys/class/oplus_chg/battery/short_c_limit_chg
        chown system system /sys/class/oplus_chg/battery/short_c_limit_rechg
        chown system system /sys/class/oplus_chg/battery/short_ic_volt_thresh
        chown system system /sys/class/oplus_chg/battery/short_ic_otp_status
        chown system system /sys/class/oplus_chg/battery/short_ic_otp_value
        chown system system /sys/class/oplus_chg/battery/ship_mode
        chown system system /sys/class/oplus_chg/battery/cool_down
        chown system system /sys/class/oplus_chg/battery/bcc_current
        chown system system /sys/class/oplus_chg/battery/bcc_exception
        chown system system /sys/class/oplus_chg/battery/call_mode
        chown system system /sys/class/oplus_chg/battery/mmi_charging_enable
        chown system system /sys/class/oplus_chg/battery/soc_ajust
        chown system system /sys/class/oplus_chg/usb/otg_switch